DB_STRING_CONNECTION: "Host=postgres;Port=5432;Database=librasoft;Username=postgres;Password=admin;"

# SMTP EMAIL PROVIDER
EMAIL_PROVIDER_USERNAME: 
EMAIL_PROVIDER_PASSWORD: 
EMAIL_PROVIDER_FROM: 
EMAIL_PROVIDER_HOST: 
EMAIL_PROVIDER_PORT: 

ASPNETCORE_ENVIRONMENT: # "Development" | "Production"
ASPNETCORE_URLS: "http://+:5000"